name: Rspec Tests

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3.1.0

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.2
        bundler-cache: true

    - name: Install PostgreSQL client
      run: sudo apt-get -yqq install libpq-dev

    - run: bundle exec rails db:setup
      env:
        RAILS_ENV: test
        DATABASE_URL: postgresql://postgres:postgres@localhost/postgres

    - run: bundle exec rspec
      env:
        RAILS_ENV: test
        DATABASE_URL: postgresql://postgres:postgres@localhost/postgres
